swagger: '2.0'
info:
  description: ''
  version: v02
  title: Get Addresses
host: 'OIC-gse00014212.uscom-east-1.oraclecloud.com:443'
basePath: /addresses
schemes:
  - http
paths:
  /:
    get:
      produces:
        - application/json
      parameters:
        - name: query
          in: query
          required: false
          type: string
        - name: limit
          in: query
          required: false
          type: string
      responses:
        '500':
          description: Faults
          schema:
            $ref: '#/definitions/APIInvocationError'
        '200':
          description: A sample description of the Response
          schema:
            $ref: '#/definitions/response-wrapper'
definitions:
  response-wrapper:
    type: object
    required:
      - adresses
      - limit
      - query
    properties:
      query:
        type: string
      limit:
        type: number
      adresses:
        type: array
        items:
          type: object
          properties:
            country:
              type: string
            city:
              type: string
            name:
              type: string
            postcode:
              type: string
            label:
              type: string
            type:
              type: string
            states:
              type: string
          required:
            - city
            - country
            - label
            - name
            - postcode
            - states
            - type
  APIInvocationError:
    type: object
    required:
      - detail
      - errorCode
      - errorDetailshttps://app.apiary.io/addresses8/editor
      - title
      - type
    properties:
      type:
        type: string
      title:
        type: string
      detail:
        type: string
      errorCode:
        type: string
      errorDetails:
        type: array
        items:
          type: object
          properties:
            instance:
              type: string
            errorCode:
              type: string
            type:
              type: string
            title:
              type: string
            errorPath:
              type: string
          required:
            - errorCode
            - errorPath
            - instance
            - title
            - type